@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
  "slnt" 0;
  
}

 @import url('https://fonts.cdnfonts.com/css/miama');

.dancing-script-font{
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
                
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Inter", sans-serif;
}

/* Share Style */
.hide{
   display: none;
}
.display-flex{
    display: flex;
}
.color-white{
    color: #ffff;
}
 
.primary-bg{
    background-color: #E6533C;
}
.primary-btn{
   background-color: #E6533C;
   border: none;
   outline: none;
   padding: 14px 40px 14px 40px;
   border-radius: 42px;
   color: #ffff;
   font-size: 0.900rem;
   font-weight: 600;
   cursor: pointer;
}

.hide{
    display: none;
}

/* Header Style */
header{
    width: 100%;
    height: 100vh;
    margin: 0 auto;
     background: linear-gradient(180deg,rgba(0, 0, 0, 0.881),rgba(9, 8, 8, 0.733) 100%);;
}

/* Nav Style */
nav{
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding-top:40px ;
}
.logo h3{
    color: #E6533C;
    font-size: 2rem;
    font-weight: 900;
    font-style: italic;
}
nav ul{
    border: 1px solid rgba(255, 255, 255, 0.371);
    border-radius: 46px;
    padding: 5px;
}
nav ul li{
    list-style: none;
    margin-right: 25px;
}
nav ul li a{
    text-decoration: none;
    color: #ffff;
   
  
}

nav .acctive{
    padding: 6px 18px 6px 18px;
    border-radius: 46px;
     
}

/* header-container */
.header-container{
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 100px;
}
.header-taitel{
    width: 30rem;
    height: 17rem;
    font-size: 4rem;
    color: #ffff;
    font-weight: 900;
     
}
.header-taitel .shape{
  font-family: 'Miama', sans-serif;
  font-weight: 600;
  font-size: 7rem;  
  letter-spacing: 5px;   
  line-height: 0;                             
}
 
.header-description{
    width: 31rem;
    color: rgba(255, 255, 255, 0.559);
    margin-bottom: 20px;

}
.downloade-btn{
    background: transparent;
    border: 1px solid white;
    margin-left: 10px;
}
.header-right-box{
     position: relative;
    
}
.header-right-box-img{
    position: relative;
    margin-right: 50px;
}
.Workout{
    position: absolute;
    color: #ffff;
   /* From https://css.glass */
    background: rgba(255, 255, 255, 0.06);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.6px);
    -webkit-backdrop-filter: blur(5.6px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    top: 140px;
    right: 40px;
    width: 8.500rem;
    height: 5rem;
    padding: 20px 10px;
    border-radius: 8px;
  
}
.Workout h5{
    font-size: 1.5rem;
    font-weight: 900;
}

.video-tutorial{
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    bottom: 80px;
    left: -50px;
    color: #ffff;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.06);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.6px);
    -webkit-backdrop-filter: blur(5.6px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    /* background: rgba(144, 144, 144, 0.26); */
    /* backdrop-filter: blur(30px); */
    box-sizing: border-box;
    /* border: 1px solid rgba(255, 255, 255, 0.1); */
    width: 9.500rem;
    height: 5rem;
    padding: 20px 10px;
    border-radius: 8px;
}
.video-tutorial h5{
    font-size: 1rem;
    font-weight: 900;
    
}
.video-tutorial p ,.Workout p{
    font-size: 11px;
    color: #efede8a3;
     
}
.video-tutorial .dot{
    width: 30px;
    height: 30px;
    background-color: #E6533C;
    border-radius: 50%;
}
/* Main Area Start */
 main{
    width: 100%;
    background-color: rgb(0, 0, 0);
 }
 .change-habit-area{
    max-width: 80%;
    margin: 0 auto;

    
 }
 .change-habit-taitel-area{
  color: #fff;
  text-align: center;
  width: 600px;
  margin: 0 auto;
  padding: 150px 0px 120px 0px;
 }
 .change-habit-taitel-area h2{
  font-size: 2.600rem;
  font-weight: 800;
 }
 .change-habit-taitel-area p{
  font-size: 0.900rem;
  color: #efede8a3;
  padding-top: 1.25rem;
 }
 .change-habit-img-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  justify-items: center;
  align-items: center;
  padding-bottom: 3.125rem;
 }
 .change-habit-img-box{
   max-width: 250px;
   height: 250px;
  color: #fff;
  margin: 0 auto;
  /* border: 2px solid #E6533C; */
  text-align: center;

 }
 .change-habit-img-box h5{
  padding: 0.625rem;
  font-size: 0.900rem;
  font-weight: 700;
  letter-spacing: 1px;

 }
 .change-habit-img-box p{
  width: 12.5rem;
  font-size: 0.75rem;
  font-weight: 300;
  letter-spacing: 1px;
  color: #ffffff88;
 }
 .change-habit-img-box img{
  border-radius: 50%;
  border: 2px solid gray;
 }
 /* run-an-extra-area section2 start */
 .run-an-extra-area{
  margin-top: 50px;
   max-width: 100%;
   height: 50vh;
   background-color: rgb(0, 0, 0);

 }
 .run-an-extra-main-box{
  width: 80%;
  height: 330px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background: rgb(34, 34, 34);
  border-radius: 8px;
  overflow: hidden;
  padding: 20px;

 }
 .run-an-extra-box-left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 430px;
  height: 280px;
 }
 .run-an-extra-box-left h2{
  width: 300px;
  color: #fff;
  font-size: 2.5rem;
  font-weight: 800;

 }
 .run-an-extra-box-left p{
  color: #efede8a3;
  font-size: 0.900rem;
  padding: 15px 0px;
 }
 .join-now-btn{
  padding: 14px 45px 14px 45px;

 }
 .run-an-extra-box-right{
  width: 450px;
  height: 300px;
  overflow: hidden;
  border-radius: 10px; 

 }
 .extra-box-right-child{
  width: 350px;
  height: 270px;
  background-image: url(../images/run.jpg);
  background-position: right top 33px ;
  background-size:cover;
  background-repeat: no-repeat;
  transform: scale(2.9);

 
 }
 /* Bmi Calculator Area Start */
 .bmi-calculator-main-section{
  width: 100%;
 }
 .bmi-main-taitel-area{
  color: #fff;
  width: 500px;
  margin-left: 150px;
  padding-bottom: 30px;
 }
 .bmi-calculate-main-taitel{
  font-size: 2.5rem;
 }
 .bmi-calculate-main-description{
  font-size: 0.850rem;
  margin-top: 10px;
 }
  .bmi-calculator-main-area{
    width: 100%;
    height: 60vh;
    background: rgb(34, 34, 34);
    
  }
  .bmi-calculator-main-box{
    width: 80%;
    justify-content: space-between;
    padding: 50px 0px;
    margin: 0 auto;
  }
 .Calculate-taitel{
     color: #fff;
     padding-bottom: 40px;
 }
 .bmi-calculator-Weight-box{
  display: flex;
 }
 .bmi-calculator-Weight-box div{
  width: 150px;
  height: 200px;
   
 }
 .bmi-calculator-Weight-box div h5{
    color: #fff;
    font-weight: 700;
    
 }
 .bmi-calculator-Weight-box div p{
  color: rgba(255, 255, 255, 0.549);
  font-size: 0.700rem;
 }
 .bmi-calculator-Weight-box h5{
  padding: 10px 5px;
  border: 1px solid rgba(255, 255, 255, 0.132);
  
  
 }
 .bmi-calculator-Weight-box p{
  padding: 10px 5px;
  border: 1px solid rgba(255, 255, 255, 0.132);
 
 }
 /* Bmi-Calculator Right-box */
 .bmi-calculator-right-box > p{
  width: 100%;
  margin-top: -30px;
  font-size: 0.900rem;
}
 .bmi-calculator-input-area{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 10px;
  /* row-gap: 10px; */
  width: 570px;
 }

 .bmi-calculate-input input , select{
  width: 100%;
  height: 40px;
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
 }
 .slected-activity{
  grid-column: span 2;
}

 .bmi-calculate-input input::placeholder,select{
  color: #ffffff62;
       
 }
 .bmi-calculate-input select option{
  color: #fff;
  background: rgba(0, 0, 0, 0.577);
  border: none;
  outline: none;
  
 }
 .calculate-btn{
  width: 180px;
  margin-top: 10px;
 }
 /* our team area start */
 .our-team-section-area{
  width: 100%;
  height: 120vh;
  margin: 0 auto;
 }
 .our-team-taitel-area{
   padding: 40px;
   margin: 0 auto;
 }
 .our-team-taitel-area h2{
   color: #fff;
   text-align: center;
   font-size: 3rem;
   font-weight: 800;
   padding-top: 20px;
 } 
 .our-team-taitel-area p{
  width: 700px;
  padding-top: 10px;
  /* margin-left: 200px; */
  margin: 0 auto;
  text-align: center;
  color: #ffffff71;
  text-align: center;
 
 }  
 .our-team-container{
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background: rgb(34, 34, 34);
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
  justify-content: space-between;
  
 }
 .our-team-img-box-repeat:hover{
  transform: scale(1.3);
  
 }
 .our-team-img-box-1{
    
  background-image: linear-gradient(180deg , rgba(0, 0, 0, 0.357) , transparent) , 
  url('/images/trainer1.png');
   
}
.our-team-img-box-2{
  
  background-image: linear-gradient(180deg , rgba(0, 0, 0, 0.357) , transparent) , 
  url('/images/trainer2.png');

}
.our-team-img-box-3{
  
  background-image: linear-gradient(180deg , rgba(0, 0, 0, 0.357) , transparent) , 
  url('/images/trainer3.png');

}
.our-team-img-box-4{
  
  background-image: linear-gradient(180deg , rgba(0, 0, 0, 0.357) , transparent) , 
  url('/images/trainer4.png');
  background-position: right;

}
.our-team-img-box-5{
  
  background-image: linear-gradient(180deg , rgba(0, 0, 0, 0.357) , transparent) , 
  url('/images/trainer5.png');

}
.our-team-img-box-6{
  
  background-image: linear-gradient(180deg , rgba(0, 0, 0, 0.357) , transparent) , 
  url('../images/trainer6.png');
  
}
 .our-team-img-main-box{
  width: 100%;
  /* width: 390px; */
  height: 310px;
  overflow: hidden;
 }
.our-team-img-box-repeat{
  width: 100%;
  /* width: 390px; */
  height: 310px;
  border-radius: 10px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden !important;
  transition: 0.5s;
}
.our-team-img-box-repeat div{
  margin-top: 250px;
  margin-left: 20px;
  color: #fff;
}
.our-team-img-box-repeat div{

}
 .our-team-img-box-repeat div p{
  color: #ffffff7f;
  font-size: 1rem;
 }
 
 
 /* Students Profile */
 .students-profile-area{
  max-width: 100%;
  height: 100vh;
  background: rgb(34, 34, 34);
  padding-bottom: 50px;


 }
 .students-profile-area > h2{
  color: #fff;
  text-align: center;
  font-size: 2.5rem;
  line-height: 1;
  padding: 30px 0px 80px 0px;

}
.students-profile-container{
  width: 80%;
  /* height: 100vh; */
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 30px;
  position: relative;
}
.student-profile{
  width: 100%;
  height: 540px;
  margin: 0 auto;
  background-color:teal;
  color: #fff;
  overflow: hidden;
  position: relative;
  transition: 0.5s;
}
.student-profile-two{
  /* width: 87%;
  height: 550px; */
  transform: scale(1.08);
  background-color: slateblue; 
}
.student-profile:hover{
  /* transform: scaleY(1.0600); */
  transform: scale(1.08);

}
.student-profile-two:hover{
  transform: scale(1.08);

}
.profile-cover{
  width:100%;
  height: 250px;
  clip-path: polygon(0 0, 100% 0, 100% 97%, 0 79%);
  

}
.profile{
  width: 90px;
  height: 90px;
  border-radius: 50%;
  position: absolute;
  top: 160px;
  left: 20px;
  z-index: 2;
}
.profile-text-btn-area{
  padding: 0px 15px 0px 25px; 
 
}
.profile-text-btn-area > h2{
  padding: 10px 0px;
  
  
}
.profile-btn{
  margin-top: 30px;
}
.more-info-btn{
  padding: 14px 30px 14px 30px;
}
 /* Footer Section */
 footer{
  width: 100%;
  background-color: black;
  height: 50vh;
  margin: 0 auto;
 }
 .footer-container{
  width: 80%;
  margin: 0 auto;
  padding-top: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: #fff;
  /* border-bottom: 00.0100rem solid rgba(255, 255, 255, 0.235); */

 }
 .footer-box-logo > a h3{
   font-size: 3rem;
   margin-top: -15px;
   padding-bottom: 10px;
 }
 .footer-box{
  margin-left: 100px;
  /* border: 1px solid white; */
 }
 .footer-box h3{
     font-size: 1.5rem;
     padding-bottom: 10px;
 }
 .footer-box a {
  display: block;
  color: white;
  text-decoration: none;
  font-weight: 100;
  font-size: 0.850rem;
  margin-top: 5px;
  padding-top: 10px;
 }
 .footer-left-description{
  font-size: 0.800rem;
 }
 .copy-right-section  {
  width: 80%;
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;
  color: #fff;
  font-weight: 200;
  border-top:1px solid rgba(255, 255, 255, 0.343);
  
 }
 .copy-right-section p {
  padding-top: 15px;
 } 
/* Small Devices */
@media screen and (max-width:576px) {
       header{
        height: 100%;
       }
      .header-container{
        flex-direction: column;
        

      }    
      nav{
        width: 90%;
        justify-content: space-between;
      }
      nav .bar{
        margin-right: 10px;
      }
      nav .logo h3{
        font-size: 2rem;
      }
      nav ul{
        border: none;
      }
      nav ul li{
       display: none;
      }
      .bar{
        display: block;
        color: #fff;
        font-size: 2rem;
      }
      .header-taitel{

        font-size: 2.5rem;
        width: 320px;
      }
      .header-taitel .shape{
        font-size: 4.5rem;
      }
      .header-description{
        width: 320px;
        margin-top: -80px;
      }
      .header-btn{
        margin-top: 20px;
        width: 100%;
        display: flex;
      }
      .btn1 , .downloade-btn{
         padding: 16px 18px;
      }
      .header-right-box{
        display: flex;
        justify-content: center;
        align-items: center;
        /* margin: 0px auto; */
      }
      .header-left-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .Workout{
        top: 80px;
        right: 20px;
      }
       .video-tutorial{
        bottom:250px;
        left: 20px;
         
       }
       /* Main Area Start */
       .run-an-extra-area{
        height: 90vh;
       }
       .change-habit-taitel-area{
          width: 100%;
       padding: 10px 0px 30px 0px;

       }
       .change-habit-taitel-area h2{
        font-size: 2rem;
       }
       .change-habit-taitel-area p{
        font-size: 0.800rem;
       }
       .change-habit-img-container{
        grid-template-columns: 1fr;
        gap: 20px;
       }
       /* Section run-an-extra */
       .run-an-extra-main-box{
        flex-direction: column;
        width: 90%;
        height: 100%;
        
        
       }
       .run-an-extra-box-left{
        width: 100%;
         
        
       }
       .run-an-extra-box-right{
        width: 100%;
       margin-top: 5px;
       display: flex;
       justify-content: center;
       align-items: center;
       

       }
       .extra-box-right-child{
        width: 100%;
       }
       .join-now-btn{
        margin: 0 auto;
        width: 100%;
      
       }
       /* Bmi Calculator Code start */
       .bmi-main-taitel-area{
        width: 100%;
        padding-top: 20px;
        padding-left: 20px;
        margin-left: 0%;
        text-align: left;
       }
       .bmi-main-taitel-area > h2{
        font-size: 1.8rem;
       }
       .bmi-main-taitel-area .bmi-calculate-main-description{
        margin-top: 15px;
        width: 100%;
        
       }
      .bmi-calculator-main-box{
        flex-direction: column;
        width: 85%;
      }
      .bmi-calculator-input-area{
        width: 100%;
      }
       
      .bmi-calculator-main-area{
        height: 100%;
      }
      /* Our Team Area */
      .our-team-section-area{
        width: 100%;
        height: 100%;
      }
      .our-team-taitel-area{
        width: 100%;
        margin: 0 auto;
      }
      .our-team-taitel-area h2{
        width: 100%;
        font-size: 2rem;
      }
      .our-team-taitel-area p {
        width: 100%;
      margin-left: auto;
        
      }

       .our-team-container{
        grid-template-columns: repeat(1,1fr);
        width: 90%;
        height: 100%;
        margin: 0 auto;
       }
       .our-team-img-main-box{
        width: 100%;
       }
        .our-team-img-box-repeat{
          width: 100%;
        }
      /* Students Profile */
      .students-profile-area{
        height: 100%;
        margin-top: 30px;
        padding-bottom: 30px; 
      }
      .students-profile-container{
        width: 100%;
        grid-template-columns: repeat(1 , 1fr);
        gap: 50px;
       
      }
     .student-profile{
      width: 90%;
      height: 550px;
     }
     /* Footer Section */
     footer{
      width: 100%;
      height: 100%;
      padding-bottom: 20px;
     }
     .footer-container{
      width: 90%;
      grid-template-columns: 1fr;
      padding-bottom: 10px;
     }
     .footer-box{
      padding-top: 20px;
      margin-left:0px;
       
     }
    }