@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
  "slnt" 0;
  
}

 @import url('https://fonts.cdnfonts.com/css/miama');
                
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Inter", sans-serif;
}

/* Share Style */

.display-flex{
    display: flex;
}
.color-white{
    color: #ffff;
}
 
.primary-bg{
    background-color: #E6533C;
}
.primary-btn{
   background-color: #E6533C;
   border: none;
   outline: none;
   padding: 14px 40px 14px 40px;
   border-radius: 42px;
   color: #ffff;
   font-size: 0.900rem;
   font-weight: 600;
}

.hide{
    display: none;
}

/* Header Style */
header{
    width: 100%;
    height: 100vh;
    margin: 0 auto;
     background: linear-gradient(180deg,rgba(0, 0, 0, 0.881),rgba(9, 8, 8, 0.733) 100%);;
}

/* Nav Style */
nav{
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding-top:40px ;
}
.logo h3{
    color: #E6533C;
    font-size: 2rem;
    font-weight: 900;
    font-style: italic;
}
nav ul{
    border: 1px solid rgba(255, 255, 255, 0.371);
    border-radius: 46px;
    padding: 5px;
}
nav ul li{
    list-style: none;
    margin-right: 25px;
}
nav ul li a{
    text-decoration: none;
    color: #ffff;
   
  
}

nav .acctive{
    padding: 6px 18px 6px 18px;
    border-radius: 46px;
     
}

/* header-container */
.header-container{
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 100px;
}
.header-taitel{
    width: 30rem;
    height: 20rem;
    font-size: 4rem;
    color: #ffff;
    font-weight: 900;
    position: relative;
}
.header-taitel .shape{
  font-family: 'Miama', sans-serif;
  font-size: 7rem;  
  letter-spacing: 5px;   
  position: relative;                                         
}
 
.header-description{
    width: 31rem;
    color: rgba(255, 255, 255, 0.559);
    margin: 40px 0px;
    /* padding: 45px 0px; */

}
.downloade-btn{
    background: transparent;
    border: 1px solid white;
    margin-left: 10px;
}
.header-right-box{
     position: relative;
    
}
.header-right-box-img{
    position: relative;
    margin-right: 50px;
}
.Workout{
    position: absolute;
    color: #ffff;
    background: rgba(144, 144, 144, 0.26);
    backdrop-filter: blur(30px);
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    top: 140px;
    right: 40px;
    width: 8.500rem;
    height: 5rem;
    padding: 20px 10px;
    border-radius: 8px;
  
}
.Workout h5{
    font-size: 1.5rem;
    font-weight: 900;
}

.video-tutorial{
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    bottom: 80px;
    left: -50px;
    color: #ffff;
    background: rgba(144, 144, 144, 0.26);
    backdrop-filter: blur(30px);
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 9.500rem;
    height: 5rem;
    padding: 20px 10px;
    border-radius: 8px;
}
.video-tutorial h5{
    font-size: 1rem;
    font-weight: 900;
    
}
.video-tutorial p ,.Workout p{
    font-size: 11px;
    color: #efede8a3;
     
}
.video-tutorial .dot{
    width: 30px;
    height: 30px;
    background-color: #E6533C;
    border-radius: 50%;
}
/* Main Area Start */
 main{
    width: 100%;
    background-color: rgb(0, 0, 0);
 }
 .change-habit-area{
    max-width: 80%;
    margin: 0 auto;

    
 }
 .change-habit-taitel-area{
  color: #fff;
  text-align: center;
  width: 600px;
  margin: 0 auto;
  padding: 150px 0px 120px 0px;
 }
 .change-habit-taitel-area h2{
  font-size: 2.600rem;
  font-weight: 800;
 }
 .change-habit-taitel-area p{
  font-size: 0.900rem;
  color: #efede8a3;
  padding-top: 1.25rem;
 }
 .change-habit-img-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  justify-items: center;
  align-items: center;
  padding-bottom: 3.125rem;
 }
 .change-habit-img-box{
   max-width: 250px;
   height: 250px;
  color: #fff;
  margin: 0 auto;
  /* border: 2px solid #E6533C; */
  text-align: center;

 }
 .change-habit-img-box h5{
  padding: 0.625rem;
  font-size: 0.900rem;
  font-weight: 700;
  letter-spacing: 1px;

 }
 .change-habit-img-box p{
  width: 12.5rem;
  font-size: 0.75rem;
  font-weight: 300;
  letter-spacing: 1px;
  color: #ffffff88;
 }
 .change-habit-img-box img{
  border-radius: 50%;
  border: 2px solid gray;
 }
 /* run-an-extra-area section2 start */
 .run-an-extra-area{
  margin-top: 50px;
   max-width: 100%;
   height: 90vh;
   background-color: rgb(0, 0, 0);

 }
 .run-an-extra-main-box{
  width: 80%;
  height: 330px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background: rgb(34, 34, 34);
  border-radius: 8px;
  overflow: hidden;
  padding: 20px;

 }
 .run-an-extra-box-left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 430px;
  height: 280px;
 }
 .run-an-extra-box-left h2{
  width: 300px;
  color: #fff;
  font-size: 2.5rem;
  font-weight: 800;

 }
 .run-an-extra-box-left p{
  color: #efede8a3;
  font-size: 0.900rem;
  padding: 15px 0px;
 }
 .join-now-btn{
  padding: 14px 45px 14px 45px;

 }
 .run-an-extra-box-right{
  width: 450px;
  height: 300px;
  overflow: hidden;
  border-radius: 10px; 

 }
 .extra-box-right-child{
  width: 350px;
  height: 270px;
  background-image: url(../images/run.jpg);
  background-position: right top 33px ;
  background-size:cover;
  background-repeat: no-repeat;
  transform: scale(2.9);

 
 }

/* Small Devices */
@media screen and (max-width:576px) {
       header{
        height: 100%;
       }
      .header-container{
        flex-direction: column;
        

      }    
      nav{
        width: 90%;
        justify-content: space-between;
      }
      nav .bar{
        margin-right: 10px;
      }
      nav .logo h3{
        font-size: 2rem;
      }
      nav ul{
        border: none;
      }
      nav ul li{
       display: none;
      }
      .bar{
        display: block;
        color: #fff;
        font-size: 2rem;
      }
      .header-taitel{

        font-size: 2.5rem;
        width: 320px;
      }
      .change-habit-taitel-area h1 .shape{
        font-size: 2rem;
      }
      .header-description{
        width: 320px;
        margin-top: -50px;
      }
      .header-btn{
        margin-top: 20px;
        width: 100%;
        display: flex;
      }
      .btn1 , .downloade-btn{
         padding: 16px 18px;
      }
      .header-right-box{
        display: flex;
        justify-content: center;
        align-items: center;
        /* margin: 0px auto; */
      }
      .header-left-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .Workout{
        top: 80px;
        right: 20px;
      }
       .video-tutorial{
        bottom:250px;
        left: 20px;
         
       }
       /* Main Area Start */
       .change-habit-taitel-area{
          width: 100%;
       padding: 10px 0px 30px 0px;

       }
       .change-habit-taitel-area h2{
        font-size: 2rem;
       }
       .change-habit-taitel-area p{
        font-size: 0.800rem;
       }
       .change-habit-img-container{
        grid-template-columns: 1fr;
        gap: 20px;
       }
       /* Section run-an-extra */
       .run-an-extra-main-box{
        flex-direction: column;
        height: 100%;
        
        
       }
       .run-an-extra-box-left{
        width: 100%;
         
        
       }
       .run-an-extra-box-right{
        width: 100%;
       margin-top: 5px;
       display: flex;
       justify-content: center;
       align-items: center;
       

       }
       .extra-box-right-child{
        width: 100%;
       }
    }